
<section>
    {{ include(builderEditmodeTitle) }}
    {{ pimcore_link(name, {
        disabledFields: 'target, parameters, anchor, title, accesskey, rel, tabindex, class, attributes'
    }) }}
</section>